#单节点
#应用名称及验证账号
spring: 
  application: 
    name: eureka
  security: 
    user: 
      name: root
      password: root
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://root:root@eureka-7901:7901/eureka/,http://root:root@eureka-7902:7902/eureka/,http://root:root@eureka-7903:7903/eureka/
  instance:
    hostname: eureka-7902
  server: 
    #关闭自我保护
    enable-self-preservation: false
    #清理间隔时间
    eviction-interval-timer-in-ms: 5000
    peer-node-read-timeout-ms: 2000
logging:
  level:
    root: info
server:
  port: 7902